/*reseta o css*/
*{
	margin: auto;
	padding: auto;
	list-style: none;
}
/*todo o site usara essa fonte*/
body{
	font:1em/150% Arial, Helvetica, sans-serif;
	background: #3f4348 url('../img/bg.png');
}

/*Strutura da Pagina*/
/*centraliza o conteudo*/
.container-fluid{
	width: 100%;
}
.container{
	width: 960px;	
	padding: 20px auto;
	
}
/*menu*/
.menu{
	width: 25%;
	/*width:20%;*/
	background: #303030;
	float: left;
}
/*msg de alerta sucesso e erro*/
.msgacerto{
	height: 90px;
	width: 50%;
	background-color: green;
}
.msgerror{

	height: 90px;
	width: 100%;
	background-color: red;
	border-radius: 10px;
	font:2.5em/150% Arial, Helvetica, sans-serif;
	text-align: center;
}
.msgalerta{

	height: 90px;
	width: 50%;
	background-color: orange;
}

.principal{
	width: 75%;
	/*width: 80%;*/
	height: auto;
	float: right;
	background: #F0F0F0 ;
}

.bola {
    border-radius: 30%;
    display: inline-block;
    height: 10px;
    width: 10px;
}
/*sessao do site*/

.sessao{
	width: 90%;
	margin-top: 10px;
	height: auto;	
}
.info{
	width: 98%;
	margin-top: 10px;
		
}

/*roda pe*/
.footer{
	height: 80px;
	background: #968;
	clear: both;
}
/*Estrutura do menu*/

