/*fudo do app*/
body
{
  background: #434a54;
}
/*conometro do bid*/
.conometro{
  color:red;
  font:25px bold;

}
/*div onde fica o botao para iniciar o cadastro da bid*/
.cadastroBid{
  height: 60px;
  background: white;
}
/*botao de fechar o menu*/
.closeMenu
{
  height: 40px;
  background: #f6bb42;
}
/*span de dentro do menu*/
.closeMenu>span
{
  float: right;
  cursor: pointer;
}
/*alinha REsposta*/
.alinhaResposta
{
  height: 90%;
  width: 90%;
  margin: 5%;
}
.central
{
  float: right;
  margin-right: 20%;
  margin-top: 5%;
}
/*check*/
.check
{
  color: green;
}
.DontCheck
{
  color: red;
}
.dm
{
  color:orange;
}
/*menu lateral*/
.menu
{
  position: absolute;
  z-index: 5;
  height: 100%; 
  width: 40%;
  background: #656d78;
  -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.2s;
    animation-name: animatetop;
    animation-duration: 0.2s
}
.menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}
.menu li a 
{
  display: block;
  text-decoration: none;
  padding: 8px 16px;
  color:#ffce54;
}
.menu li a:hover
{
  background: #434a54;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {left:-300px; opacity:0} 
    to {left:0; opacity:1}
}

@keyframes animatetop {
    from {left:-300px; opacity:0}
    to {left:0; opacity:1}
}

/*logo da navbar principal*/
.img{
  width: 12.5%;
}
/*
css para menu com touch-action
.touch
{
  background-color: #ffce54;
  width: auto;
}

.touch ul {
  list-style: none;
  width: 1000px;
  margin-right: 400px; 
}
.touch ul li{
  display: inline;
  padding: 10px 60px;
}
.touch ul li a {
  display: inline-block;
}
*/

/*css da navbar*/

/*.nav li a:hover
{
    background:black;
    color:#f6bb42;
}
.nav li a:focus
{
    background:black;
    color:#f6bb42;
}
.active  a:link{
    background:black;
    color:#f6bb42;
}*/
/*menu fixo no bottom*/
.nav li a:hover, a:focus, a:link
{
    background: rgba(133, 0, 153, 0);
    color:#870099;
}
.nav a {
    color:black;
}
/*link ativo*/
.active a {
    color: #870099;
}
/*div onde sera mostrado os jogadores cadastrado no bid*/
.bid
{
  height: auto;
  overflow: scroll;
  touch-action:pan-y;
  margin-bottom: 70px;
}
/*margem da div de dentro da div.bid*/
.scroll
{
  margin-bottom:10px;
  background: white; 

}
/*botao para registrar o usuario no bid*/
.btn-registro
{
  z-index: 10;
  position: fixed;
  left: 80%;
  bottom: 15%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: green;
  border: 1px solid green;
}
/*muda a cor do btn-primary*/
.btn-warning
{
  background-color: #ffce54;
  border-color: #ffce54;
}

/*deixa o botao do bootstrap 100%*/
.btn-lg
{
  width: 100%;
}
/*fundo do form*/
.formulario
{
  background-color: white;
  width: 95%;
  height: 100%;
  z-index: 10;
  position: absolute;
}
/*span dentro do form*/
.formulario > span
{
  cursor: pointer;
}
/*cadastro do usuario*/
.cadastroUsuario
{
  height: 450px;
  width: 95%;
  position: fixed;
  z-index: 11;
  background-color: #ecf0f1;
}
.cadastroUsuario > span
{
  cursor: pointer;
}
/*resultado do bid*/
.resultado
{
  margin-top: 10px;
  height: 90px;
  background: white;
}
/* fundo do slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
      
}
/*esconde o chekbox*/
.switch input {display:none;}

/* O slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.switch:hover input ~ .slider {
    background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.switch input:checked ~ .slider {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.slider:after {
  position: absolute;
  content: "";
  height: 206px;
  width: 206px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Show the indicator (dot/circle) when checked */
.switch input:checked ~ .slider:after {
    transform: translateX(26px);
}

/* Style the indicator (dot/circle) */
.switch .slider:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/*esconde o chekbox*/
.switch input {display:none;}
/* Rounded sliders */
.slider.round {
  border-radius: 180px;
}
.slider.round:before {
  border-radius: 50%;
}
/*mensalidade*/
.link
{
  padding: 15px;   
}
.link i
{
  color: white;
}
.link:hover
{
    box-shadow: 5px 10px 8px #0025; 
}
.cont
{
  height: 80px;
  box-shadow: 5px 10px 8px #0025; 
}
.pago
{
  background: green;

}

.pendente
{
  background: red;
}
.mensalidade
{
  padding-left:5px;
  position: relative;
  top: 20px;
}
.mensalidade>label
{
  width: 33%;  
  color:white;
  padding-left: 5px;  
}
.mensalidade>input
{
  width: 33%;
  padding: 7px;
  position: relative;
  left: -5.5px;
}
.valor
{
  width: 33%;
  float: right;
}
/*scrollMenu com panx*/
div.scrollMenu
{
  background-color: #FBF201;
  overflow: auto;
  white-space: nowrap;
}
div.scrollMenu a
{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
div.scrollMenu a:hover
{
  background-color: #777;
}
/*para dispositivos menores que 480px*/
@media screen and (max-width: 720px)
{
  .menu
  {
    width: 80%;
  }
  .conometro{
  color:red;
  font:18px bold;

}
  .touch
  {
    overflow: scroll;
    touch-action:pan-x;
  }
  .touch ul
  {
    margin-left: - px;
  }
  .touch ul li
  {
    padding: 0px 20px;
  } 
  .bid{
    height:400px; 
  }  
  .btn-registro
  {
    width: 50px;
    height: 50px;
  }
  div.scrollMenu a
  {
    width: 120px;
    height: 70px;
  }
  .link
  {
    box-shadow: 1px 1px 8px 1px #0025;
    padding: 11px 16px 11px 16px; 
  }
}